{% extends 'base.html' %}
{% block content %}

<h1>Food List</h1>

{% for food in foods %}
<a href="{% url 'details' food.id %}">
  <div class="card horizontal">
    <div class="card-content">
        {% for photo in food.photo_set.all %}
        <img class="responsive-img" src="{{photo.url}}">
        {% empty %}
        <div class="card-panel teal-text center-align">No Photos Uploaded</div>
        {% endfor %}
      <span class="card-title">{{ food.name }}</span>
      <p>Location: {{ food.location }}</p>
      <p>Comments: {{ food.comments }}</p>
      <p>Rating: {{ food.rating }}</p>
    </div>
  </div>
</a>
{% endfor %}

{% endblock %}